.App {
  text-align: center;
}

.contador{
  text-align: center;
}
.container{
  max-width: 600px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282c34;
  color: aliceblue;
  padding: 20px;
}

button{
  margin-right:5px;
  width: 30px;
  height: 30px;
  
}